<!-- app/templates/app/includes/month.html -->
<div class="month-calendar">
    <h2>{{ year }}年 {{ month }}月</h2>
    <table>
        <thead>
            <tr>
                {% for week_day in week_names %}
                    <th>{{ week_day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day != 0 %}
                                <a href="{% url 'app:mycalendar_with_date' year=year month=month day=day %}">{{ day }}</a>
                            {% else %}
                                &nbsp;  <!-- 空白セル -->
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
