<!-- app/templates/app/mycalendar.html -->
{% extends 'app/base.html' %}

{% block content %}
<div class="mt-3">
    <h1 class="text-center">{{ year }}年{{ month }}月のカレンダー</h1>
    <div class="month-calendar">
        <div>
            <a href="{% url 'app:mycalendar' year=previous_year month=previous_month %}" style="color:red;">先月</a>
            <a href="{% url 'app:mycalendar' year=next_year month=next_month %}" style="color:red;">翌月</a>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">日</th>
                    <th class="text-center">月</th>
                    <th class="text-center">火</th>
                    <th class="text-center">水</th>
                    <th class="text-center">木</th>
                    <th class="text-center">金</th>
                    <th class="text-center">土</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month_days %}
                    <tr>
                        {% for day in week %}
                            <td class="text-center">
                                {% if day != 0 %}
                                    <h4><a href="{% url 'app:mycalendar_with_date' year=year month=month day=day %}" style="color:red;">{{ day }}</a></h4>
                                {% else %}
                                    &nbsp;  <!-- 空白セル -->
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

</div>
{% endblock %}
