<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者ダッシュボード</title>

    <style>
        img {
            width: 200px;  
            height: 200px;  
            max-width: 100%;
        }
    </style>
</head>
<body>
    <h1>管理者ダッシュボード</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">名言を追加</button>
    </form>

    <h2>追加された名言</h2>
    <ul>
        {% for aphorism in aphorisms %}
            <li>
                <small>名言: {{ aphorism.word }} </small> <br>
                <small>作者: {{ aphorism.author }} </small> <br>
                <small>レア度: {{ aphorism.get_rarity_display }}</small><br> <!-- レア度の表示に改行 -->
                <small>追加日時: {{ aphorism.created_date }}</small><br> <!-- 追加日時の表示に改行 -->
                <a href="{% url 'app:edit_aphorism' aphorism.pk %}">編集</a>
                <a href="{% url 'app:delete_aphorism' aphorism.pk %}">削除</a>
            </li>
            <br> <!-- リストの要素の間に余白を入れる -->
            <img src="{{ aphorism.picture.url }}" alt="{{ aphorism.word }}">
            <br> <!-- 画像の下に改行を追加 -->
        {% endfor %}
    </ul>
</body>
</html>
